@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Onest&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geologica&family=Gideon+Roman&family=Gloock&family=Pixelify+Sans&family=Playfair:opsz@5..1200&family=Ysabeau+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Ubuntu+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Shantell+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  cursor: url("../assets/main-cursor.png"), auto;
  font-family: "Kumbh Sans", sans-serif;
  color: #424242;
}

body {
  background-color: white;
  background-image: url(../assets/bg-pattern.png);
  background-repeat: repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
}
body .main-wrapper {
  width: 1250px;
  height: 1136px;
  background-color: #f7ffff;
  border: 1px solid #cccccc;
  border-top: none;
}
body .main-wrapper header {
  background-color: pink;
  background-image: url("../assets/header-image.png");
  background-size: cover;
  width: 100%;
  height: 236px;
  position: relative;
  border-bottom: 1px solid #cccccc;
  grid-area: header;
}
body .main-wrapper header #title-image {
  position: absolute;
  right: 80px;
  top: 17px;
  animation-name: zoom-in-n-out;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
}
@keyframes zoom-in-n-out {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
body .main-wrapper .inner-wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 76%;
}
body .main-wrapper aside {
  background-color: #f7ffff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px;
}
body .main-wrapper aside .container {
  background-color: #fffdf3;
  border: 1px solid #cccccc;
  height: 100%;
  width: 100%;
  padding: 25px 30px;
}
body .main-wrapper aside .container h1 {
  font-family: "Shantell Sans", cursive;
  color: #fbb7b6;
  text-align: center;
  font-size: 2.7rem;
  margin-bottom: 20px;
}
body .main-wrapper aside .container p {
  text-align: center;
  margin-bottom: 20px;
}
body .main-wrapper aside .container hr {
  border: none;
  border-top: 5px dotted rgba(0, 0, 0, 0.28);
  outline: none;
  margin-bottom: 40px;
}
body .main-wrapper aside .container .colour-palette {
  background-color: #c8ad8e;
  width: 100%;
  height: 46%;
  margin-bottom: 30px;
  border-radius: 60%;
  -webkit-border-radius: 60%;
  -moz-border-radius: 60%;
  -ms-border-radius: 60%;
  -o-border-radius: 60%;
  position: relative;
  box-shadow: -7px 7px 0 0 rgba(138, 69, 69, 0.73);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
body .main-wrapper aside .container .colour-palette .gap {
  position: absolute;
  background-color: #fffdf3;
  box-shadow: inset -7px 7px 0 0 rgba(138, 69, 69, 0.73);
  top: 10%;
  left: 32%;
  height: 60px;
  width: 100px;
  border-radius: 60%;
  -webkit-border-radius: 60%;
  -moz-border-radius: 60%;
  -ms-border-radius: 60%;
  -o-border-radius: 60%;
}
body .main-wrapper aside .container .colour-palette .colours {
  position: absolute;
  left: 12px;
  display: grid;
  margin-top: 70px;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: -moz-fit-content;
  height: fit-content;
}
body .main-wrapper aside .container .colour-palette .colours > * {
  grid-column: span 2;
}
body .main-wrapper aside .container .colour-palette .colours > *:nth-last-child(2):nth-child(even) {
  grid-column: 2/span 2;
}
body .main-wrapper aside .container .colour-palette .colours img.selected,
body .main-wrapper aside .container .colour-palette .colours img:hover {
  filter: drop-shadow(-3px 3px 0px rgba(148, 108, 107, 0.72));
  -webkit-filter: drop-shadow(-3px 3px 0px rgba(148, 108, 107, 0.72));
}
body .main-wrapper aside .container .colour-palette,
body .main-wrapper aside .container .colours,
body .main-wrapper aside .container .colours img {
  cursor: url(../assets/pb-green.ico), auto !important;
}
body .main-wrapper aside .container .slider-container {
  width: 100%;
}
body .main-wrapper aside .container .slider-container #brushSizeSlider {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 20px;
  background: #ffffff;
  border: 2px solid #c8ad8e;
  outline: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
body .main-wrapper aside .container .slider-container #brushSizeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  background-color: #fbb7b6;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
body .main-wrapper aside .container .slider-container label {
  text-align: center;
  font-weight: 900;
  color: rgba(66, 66, 66, 0.6) !important;
  width: 100%;
  display: block;
}
body .main-wrapper aside .container .slider-container label span {
  color: rgba(66, 66, 66, 0.6) !important;
}
body .main-wrapper aside .container .options {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
body .main-wrapper aside .container .options img:hover,
body .main-wrapper aside .container .options img:focus {
  filter: brightness(0.8) contrast(1) saturate(4) hue-rotate(0deg);
  -webkit-filter: brightness(0.8) contrast(1) saturate(4) hue-rotate(0deg);
}

main {
  background-color: #f7ffff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 40px;
}
main canvas {
  background-color: white;
  height: 760px;
  width: 760px;
  outline: 10px solid #e8dff4;
  cursor: url(../assets/pb-green.ico), auto !important;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
}

footer {
  background-color: #feeae9;
  height: 3.2%;
  color: rgba(66, 66, 66, 0.48);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #cccccc;
}/*# sourceMappingURL=styles.css.map */